<nav class="navbar">
  <div class="nav-container">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <a routerLink="/" class="logo">
      <img src="assets/images/logo/logo.svg" alt="Traheja Logo">
    </a>

    <ul class="nav-links" [class.active]="isMenuOpen">
      <li><a routerLink="/" (click)="closeMenu()">{{ 'NAV.HOME' | translate }}</a></li>
      <li><a routerLink="/gallery" (click)="closeMenu()">{{ 'NAV.GALLERY' | translate }}</a></li>
      <li><a (click)="scrollTo('contact'); closeMenu()">{{ 'NAV.CONTACT' | translate }}</a></li>
      <li><a (click)="scrollTo('about'); closeMenu()">{{ 'NAV.ABOUT' | translate }}</a></li>
      <li class="language-switch">
        <span (click)="setLang('serbian'); closeMenu()">SR</span>
        <span (click)="setLang('english'); closeMenu()">EN</span>
      </li>
    </ul>

  </div>
</nav>
