<nav class="navbar">
  <div class="nav-container">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <a routerLink="/" class="logo">
      <img src="assets/images/logo/logo.svg" alt="Traheja Logo">
    </a>

    <ul class="nav-links" [class.active]="isMenuOpen">
      <li><a routerLink="/">{{ 'NAV.HOME' | translate }}</a></li>
      <li><a routerLink="/gallery">{{ 'NAV.GALLERY' | translate }}</a></li>
      <li><a routerLink="/contact">{{ 'NAV.CONTACT' | translate }}</a></li>
      <li><a routerLink="/" fragment="contact">{{ 'NAV.CONTACT' | translate }}</a></li>
      <li><a routerLink="/" fragment="about">{{ 'NAV.ABOUT' | translate }}</a></li>
      <li class="language-switch">
        <span (click)="setLang('serbian')">SR</span>
        <span (click)="setLang('english')">EN</span>
      </li>
    </ul>
  </div>
</nav>
